<header>
  <img
    src="../../assets/images/logohasbulla.png"
    [routerLink]="['/']"
    alt="Logo du site"
  />
  <div class="inputForSearch">
    <form #myForm="ngForm">
      <!-- Input avec la valeure recherchée -->
      <label for="searchInput"></label>
      <input
        type="text"
        value=" Rechercher"
        id="searchInput"
        name="searchInput"
        [(ngModel)]="searchInputForm"
        (keyup)="inputChange(searchInputForm)"
      />
    </form>
  </div>
  <div class="navbar-mobile">
    <i *ngIf="!menuVisibility" (click)="menuburger()" class="fas fa-bars"></i>
    <div
      (click)="menuburger()"
      [ngClass]="!menuVisibility ? 'menuburgerback' : 'change-menuburgerback'"
    >
      <div class="navbar-mobile-list">
        <i class="fa-solid fa-circle-xmark closeMenuBurgerCross"></i>
        <p class="aburger" [routerLink]="'/'">?</p>
        <p class="aburger" [routerLink]="'/'">?</p>
        <p class="aburger" [routerLink]="'/'">?</p>
      </div>
    </div>
    <div
      [ngClass]="!menuVisibility ? 'genreBurgerback' : 'change-genreBurgerback'"
    >
    </div>
  </div>
</header>