<h3>{{ informationMeal[0].strMeal }}</h3>
<h4>Zone Géographique : {{ informationMeal[0].strArea }}</h4>
<h5>Rappel des unités de mesure :</h5>
<p>1 oz (once) = 28gr (ou 30ml)</p>
<p>1 cup = 225gr (ou 240ml)</p>
<div class="ingredientsForMeal">
  <div
    class="ingredientAndQuantity"
    *ngFor="let ingredient of ingredientAndQuantity"
  >
    <img
      src="{{ ingredient[3] }}"
      alt="image de l'ingredient {{ ingredient[1] }}"
    />
    <p>{{ ingredient[0] }}</p>
    <p>{{ ingredient[2] }}</p>
  </div>
</div>
<p>Recette : {{ informationMeal[0].strInstructions }}</p>

<img
  src="{{ informationMeal[0].strMealThumb }}"
  alt="image du plat {{ informationMeal[0].strMeal }}"
/>
