@import "../../styles.scss";

.lists {
  z-index: 1;
  padding: 4%;
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  gap: 16px;

  > .oneRecipe {
    text-align: center;
    -webkit-text-stroke: 1px white;
    font-size: 3rem;
    margin: auto;
    > h3 {
      height: 30vh;
      width: 40vw;
      overflow: hidden;
      border-radius: 25px;
      backdrop-filter: blur(10px);
    }
  }
}
