<div class="dropdowns">
  <div class="dropdownSelect dropdownHave">
    <div class="dropdownTitle" (click)="iHaveVissibility()">
      <span *ngIf="!dropdownHave">🔽</span>
      <span *ngIf="dropdownHave">🔺</span>
      <p>J'ai</p>
    </div>
    <div
      class="dropdown"
      *ngFor="let ingredient of ingredientsList"
      [ngStyle]="{
        display:
          dropdownHave &&
          filterNameWithInputTextFromHeader(
            ingredient.strIngredientFR.toLowerCase()
          )
            ? 'flex'
            : 'none'
      }"
    >
      <div class="dropdownInside">
        <input
          type="checkbox"
          name="{{ ingredient.strIngredient }}"
          id="{{ ingredient.strIngredient }}"
          (click)="updateDropdownHave(ingredient.strIngredient)"
        /><label for="{{ ingredient.strIngredient }}">{{
          ingredient.strIngredientFR
        }}</label>
      </div>
    </div>
  </div>
  <div class="dropdownSelect dropdownHavent">
    <div class="dropdownTitle" (click)="iHaventVissibility()">
      <span *ngIf="!dropdownHavent">🔽</span>
      <span *ngIf="dropdownHavent">🔺</span>
      <p>Je n'ai pas</p>
    </div>
    <div
      class="dropdown"
      *ngFor="let ingredient of ingredientsList"
      [ngStyle]="{
        display:
          dropdownHavent &&
          filterNameWithInputTextFromHeader(ingredient.strIngredientFR)
            ? 'flex'
            : 'none'
      }"
    >
      <div class="dropdownInside">
        <input
          type="checkbox"
          name="{{ ingredient.strIngredient }}"
          id="{{ ingredient.strIngredient }}"
          (click)="updateDropdownHavent(ingredient.strIngredient)"
        /><label for="{{ ingredient.strIngredient }}">{{
          ingredient.strIngredientFR
        }}</label>
      </div>
    </div>
  </div>
</div>
