@import "../../styles.scss";

.dropdowns {
  display: flex;
  z-index: 990;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: $main-color;

  > .dropdownSelect {
    height: 5vh;
    width: 30%;
    text-align: center;

    border-radius: 10px;
    background-color: $second-color;

    > .dropdownTitle {
      display: flex;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      border-radius: 10px;

      > span {
        width: 30%;
        cursor: pointer;
      }
      > p {
        width: 70%;
        margin: auto;
        text-align: left;
      }
    }

    > .dropdown {
      > .dropdownInside {
        z-index: 999;
        height: 4vh;
        border: 1px solid $main-color;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        > input {
          width: 20%;
        }
      }
    }
  }
}
